.btn_float{
  float: right;
  background: #2892FD;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

#offcanvasRight{
  width: calc(100% - 50%);
}

select, option{
  cursor: pointer;
}

.btn_style{
  float: right;
}
.light_opacity{
  color: #595c5f;
}
.required:after {
  content:"*";
  color:red;
}
.inner-block{
  margin: 1px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding-bottom: 9px;
}
.add_more_btn{
  width: fit-content;
  color: #35a476 !important;
  /*font-weight: 600 !important;*/
  text-decoration: underline;
}

.add_more_btn:hover{
  cursor: pointer;
}

.plus_icon{
  font-size: 22px;
  color: #35a476;
}
.actions_icon, .actions_icon2
{
  height: 18px;
  /*margin-top: 9px;*/
  margin-top: 35px;
  cursor: pointer;
}
.actions_feature
{
  margin-top: 9px !important;
}

.add_more_hollow_btn{
  height: 40px;
  background: #DBEDE6;
  color: #35a476 !important;
  font-weight: 600 !important;
  border: 1px solid #35a47694 !important;
  border-style: dashed !important;
}



.add_more_hollow_btn:hover .plus_icon,.add_more_hollow_btn:hover{
  background: #35a476;
  transition: all 0.1ms;
  color: #FFFFFF !important;
}
.pleft{
  padding-left: 0;
}
.pright{
  padding-right: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}
/* Shahrez addon listing css */
.config-row {
  background: #DBEDE6;
  padding: 0 12px 0 0;
  border-radius: 3px;
  width: 100%;
  margin: 20px auto 20px;
}

.config-row .inactive-active-tab-box {
  padding-left: 0;
  padding-right: 0;
  border-radius: 1px solid white;
}

#inactive-active-tabs button {
  width: 50%;
  background: transparent;
  border: none;
  padding: 17px 10px;
  font-size: 14px;
  color: #35A476;
  text-transform: uppercase;
  border-radius: 0;
}

#inactive-active-tabs button:first-child {
  border-radius: 3px 0 0 3px;
}

#inactive-active-tabs button:last-child {
  border-right: 1px solid white;
}

#inactive-active-tabs button.active {
  background: #35A476;
  color: white;
  font-weight: 500;
}

.config-row .form-group {
  background: white;
  border-radius: 4px;
  padding: 7px 10px;
}

.config-row input {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 12px;
}

.config-row input:focus {
  box-shadow: none;
}

.config-row .imp-exp-btn {
  padding: 0;
  background: transparent;
  border: none;
  margin-right: 20px;
}

.config-row .imp-exp-btn svg path {
  fill: #35A476;
}

.config-row .filter-btn,
.config-row .delete-btn {
  background: white;
  border: none;
  padding: 0px 8px 5px;
  border-radius: 5px;
  position: relative;
}

.config-row .filter-btn {
  margin-right: 10px;
}

.config-row .filter-btn .count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #35A476;
  color: white;
  font-size: 7px;
  border-radius: 1000px;
  border: 1px solid white;
  padding: 0px 3px;
}

.config-row .filter-btn svg path,
.config-row .delete-btn svg path {
  fill: #35A476;
}

.list-table {
  border: 1px solid #E4E5E7;
  border-radius: 5px;
}

.list-table table {
  width: 100%;
}
.list-table table tbody{
  position: relative;
}

.list-table table tr {
  border-bottom: 1px solid #E4E5E7;
}

.list-table table tr th {
  background: #DBEDE6;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

.list-table table tr th:first-child {
  border-top-left-radius: 4px;
}

.list-table table tr th:last-child {
  border-top-right-radius: 4px;
}

.list-table table tr td {
  padding: 10px;
  font-size: 11px;
  font-weight: 500;
}

.list-table table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.list-table table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.list-table table .count {
  font-size: 12px;
  color: white;
  background: #35A476;
  padding: 3px 15px;
  border-radius: 5px;
  width: max-content;
  margin: auto;
}

.list-table table .desc-btn {
  background: none;
  padding: 0 0 0 4px;
  border: none;
}

.list-table table .desc-btn:focus {
  box-shadow: none;
}

.list-table table .desc-btn svg {
  width: 20px;
  height: 25px;
}

.list-table table .desc-btn svg path {
  fill: #35A476;
}

.list-table table .status-stat {
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 1000px;
  width: max-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.list-table table .active-stat {
  border: 1px solid #37C560;
  background: #37c56033;
}

.list-table table .inactive-stat {
  border: 1px solid #817E7B;
  background: #DEDEDE;
}

.list-table table .dot {
  width: 6px;
  height: 6px;
  border-radius: 1000px;
  margin-right: 6px;
}

.list-table table .green-dot {
  background: #37C560;
}

.list-table table .gray-dot {
  background: #817E7B;
}

.list-table table td {
  position: relative;
}

.list-table .form-switch .form-check-input{
  position: absolute;
  left: 77%;
  top: 46%;
  transform: translate(-50%,-50%);
  width: 2.9em;
  height: 1.45em;
}
.list-table .form-switch .form-check-input:checked{
  background-color: #35A476;
  border-color: #35A476;
}
.list-table table .action-btn {
  border: none;
  background: transparent;
  pointer-events: none;
  padding: 0;
}

.list-table table .action-btn img {
  pointer-events: all;
}

.list-table table .action-btn:focus {
  box-shadow: none;
}
.list-table table .dropdown-menu {
  padding: 0;
  width: 120px;
  left: -102px !important;
  top: -2px !important;
  min-width: max-content;
  height: max-content;
}

.list-table table .dropdown-menu::before,
.list-table table .dropdown-menu::after {
  content: '';
  position: absolute;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  z-index: 10;
}

.list-table table .dropdown-menu::before {
  right: -9px;
  border-left: 8px solid lightgray;
}

.list-table table .dropdown-menu::after {
  right: -7px;
  border-left: 7px solid white;
}

.list-table table .dropdown ul {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: none!important;
}

.list-table table .dropdown ul button {
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  padding: 5px 10px;
  font-size: 12px;
}

.list-table table .dropdown ul button:hover {
  background: #DBEDE6;
}

.list-table table .dropdown ul button img {
  width: 13px;
  margin-right: 3px;
  font-size: 15px;
}

.delete_icon2{
  background: transparent;
  border: none;
  padding:0;
  height: max-content;
  width: max-content;
  display: inline;
  margin-left:  auto;
  margin-right: auto;
}
.delete_icon2 img{
  width: max-content;
  height: max-content;
}
@media(max-width: 991px){
  .list-table {
    overflow-x: auto;
  }
}
@media(max-width: 575px) {
  .config-row {
    padding-right: 0;
  }

  #inactive-active-tabs {
    margin-bottom: 20px;
  }

  .config-row .config-col {
    margin-bottom: 20px;
  }

  .list-table table {
    width: 576px;
  }

  .config-row .search-bar {
    margin-bottom: 20px;
  }
}
.swal2-popup.swal2-toast.swal2-show{
  padding: 7px;
}

.text-danger{
  width: fit-content;
  background: red;
  color: white !important;
  padding: 0px 5px 2px 5px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 50px;
}

.valid-input {
  border-color: #dee2e6;
}

/* Styles for invalid input */
.invalid-input {
  border-color: red;
}
.custom_img{
  width: 95px;
  height: 95px;
  transition: 0.3s ease-in-out;
}

.input_file{
  height: 115px;
  transition: 0.3s ease-in-out;
}
.img_div{
  width: fit-content;
  margin-left: -102px;
}
.ch_file{
  height: 95px;
  display: flex;
  align-items: center;
}
.btn_close{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 10px;
}

.mr-10{
  margin-right: 10px;
}

#deletePopup .modal-dialog{
  position: absolute;
  margin:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)!important;
  width: 100%;
}
#deletePopup p{
  margin-bottom: 30px;
}
#deletePopup button{
  font-size: 14px;
}
#deletePopup .close-btn{
  border: 1px solid black;
  margin-right: 10px;
}
#deletePopup .delete-btn{
  background: #35A476;
  color: white;
}
.no_event{
  pointer-events: none;
  background: var(--bs-secondary-bg);
}

/* Shahrez addon listing css */
